.loader-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.addButtonClient {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
