/* Import Angular Material */
@use '@angular/material' as mat;
@include mat.core();

/* Create custom palette color's */
$primary-color: mat.define-palette(mat.$blue-palette, A700, 900);
$secondary-color: mat.define-palette(mat.$teal-palette, 300, 700, 900);
$warning-color: mat.define-palette(mat.$red-palette, 900);

/* Define color's in Light Theme */
$custom-app-theme: mat.define-light-theme((
 color: (
   primary: $primary-color,
   accent: $secondary-color,
   warn: $warning-color,
 )
));

/* Include custom color's in all component's */
@include mat.all-component-themes($custom-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-toolbar {
  background: #11738b;
  color: #ffffff;
  margin-bottom: 20px;
}

.mat-mdc-card {
  box-shadow: none;
}

.mat-mdc-button {
  background: #0a4a5b!important;
  color: #ffffff!important;
  border-radius: 100px!important;
}

.border-style {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

.hidden-input {
  opacity: 0;
}
