<mat-card>
  <mat-card-content>
    <mat-toolbar class="border-style">
      <span>Adicionar Cliente</span>
    </mat-toolbar>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="name">
        <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="Sobrenome" formControlName="lastname">
        <mat-error *ngIf="form.get('lastname')?.invalid">{{getErrorMessage('lastname')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
        <mat-error *ngIf="form.get('cpf')?.invalid">{{getErrorMessage('cpf')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Data Nascimento</mat-label>
        <input matInput placeholder="Data Nascimento" formControlName="dataNascimento" mask="00/00/0000">
        <mat-error *ngIf="form.get('dataNascimento')?.invalid">{{getErrorMessage('dataNascimento')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Renda Mensal</mat-label>
        <input matInput placeholder="Renda Mensal" class="example-right-align" formControlName="rendaMensal">
        <span matTextPrefix>R$&nbsp;</span>
        <span matTextSuffix>,00</span>
        <mat-error *ngIf="form.get('rendaMensal')?.invalid">{{getErrorMessage('rendaMensal')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="hidden-input">
        <input matInput value="13/03/2023" formControlName="dataCadastro">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
